/* style on various texts */
h1 {
    font-size: 48px;
}
h3 {
    font-size: 24px;
}
.bold-font {
    font-weight: bold;
}
.error-msg {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
/* style on various flex boxes */
.container{
    background-image: url("../images/background.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
      
    height: 100%; 
    min-height: 100vh; 
}
.jumbotron{
    margin-bottom: 10px;
    border: 2px solid white;
}
.card {
    border: 1px solid rgb(73, 36, 167);
}
.card-header {
 background-color: rgb(73, 36, 167);
 color: white;
 font-weight: bold;
}
/* style on table elements */
#time-table th,
td {
    display: inline-block;
    width: 18%;
}
.time-col {
    text-align: center;
}
/* style on image */
img {
    height: 100px;
    width: 100px;
}